extends ./base

block content 
    .container-fluid 
        .big-container 
            a(href="/crew-details") all about crews 
            a(href="/landPads-details") all about landpads 
            a(href="/rockets-details") all about rockets 
            a(href="/ships-details") all about ships 