extends ./../base

block content 
        .row 
            each crew in crews
                .col 
                    .card
                        img(src=`${crew.image}` class="card-img-top"  alt="...")
                        .card-body 
                            h2.card-title #{crew.name}
                            p.card-text want to know more about him/her?
                            a(href=`/crew-details/${crew.slug}`).btn.btn-outline-warning click here
       

